@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: linear-gradient(90deg, rgb(125, 242, 255) 0%, rgba(6,225,230,1) 55%, rgba(0,18,255,1) 100%);
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to right, #307FB5, #000087);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

header div{
    display: flex;
    align-items: center;
}

.logo{
    width: 135px;
    height: 50px;
    margin-right: 10px;
}

#bond{
    font-weight: 500;
    font-size: 14px;
    color: #17BA2F;
    text-decoration: none;
    margin-right: 75px;
}

main{
    padding: 20px
}

#inicio{
    background: linear-gradient(90deg, rgba(0, 0, 255) 0%, rgba(50, 50, 255, 0.75) 50%,  rgba(127, 127, 255, 0.45) 100%);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 30px;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

h1{
    border-radius: 15px 15px 0 0;
    text-align: center;
    font-family: 'Pacifico';
}

a{
    text-decoration: none
}

#regiones{
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.75) 0%, rgba(127, 127, 255, 0.45) 50%, rgba(255, 255, 255, 0.25) 100%);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.regiones-image{
    width: 500px;
    height: 300px;
    margin-right: 10px;
}

#regiones article{
    display: flex;
    flex-direction: column;
    align-self: center;
}

@media (max-width: 768px) {
    #regiones{
        flex-direction: column;
        text-align: center;
    }

    article{
        margin-top: 20px;
    }

    .regiones-image{
    width: 275px;
    height: 175px;
    margin-right: 10px;
}
}

#folklore{
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.75) 0%, rgba(127, 127, 255, 0.45) 50%, rgba(255, 255, 255, 0.25) 100%);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.folklore-image{
    width: 500px;
    height: 300px;
    margin-right: 10px;
    border-radius: 20px;
}

#folklore article{
    display: flex;
    flex-direction: column;
    align-self: center;
}

article nav{
    margin-top: 10px;
    width: 100px;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 768px) {
    #folklore{
        flex-direction: column;
        text-align: center;
    }

    .folklore-image{
    width: 275px;
    height: 175px;
    margin-right: 10px;
}
}

.parrafo{
    color: darkgray;
}

footer{
    background-image: linear-gradient(to right, #307FB5, #000087);
    text-align: center;
    padding: 10px;
    color: white;
}
