@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body > header{
    position: fixed;
    padding: 10px 5%;
    background-image: linear-gradient(to right, #307FB5, #000087);
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

body{
    background-image: url(Wallpaper.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

header>*{
    display: inline-block;
}

.logo{
    height: 50px;
}

.emptiness{
    width:10%;
}

header a{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #17BA2F;
    text-decoration: none;
    margin-right: 32px;
}

.banner{
    padding: 20% 5%;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat';
}

.banner img{
    display: inline-block;
    width: 640px;
    height: 480px;
    border-radius: 20px;
    position: absolute;
    top: 225px;
    right: 65px;
    z-index: -1;
}

.information{
    padding: 10px 5%;
    background-color: #0080ff;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat';
}

.information p{
    text-align: center;
}

.post{
    display: inline-block;
    font-size:30px;
}

.post div p{
    text-align: left;
}

.post img{
    display: inline-flex;
    justify-content: space-around;
    border-radius: 20px;
 
}

.post p{
    text-align: left;
}

.dato{
    color: rgb(121, 49, 255);
}